<div class="container-fluid hero">
    <tr-navbar></tr-navbar>
</div>
<div class="container min-vh-50">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center display-6 mt-2 rebel-font">Your order</h2>
            <p class="fs-5">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
        </div>
    </div>
    <ng-template [ngIf]="cart.length > 0" [ngIfElse]="empty">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Persons</th>
                <th scope="col">Start Date</th>
                <th scope="col">Destination</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let travel of cart">
                <td><img class="img-thumbnail"src="{{travel.img}}" alt=""></td>
                <th scope="row text-center">{{travel.persons}}
                    <div>
                        <input type="button" class="btn btn-outline-success" value="+" name="btnPersonPlus" (click)="increasePersons(travel)">
                        <input type="button" class="btn btn-outline-danger" value="-" name="btnPersonPlus" (click)="decreasePersons(travel)">
                    </div>
                    
                </th>
                <!-- TODO FIX ME -->
                <td>{{travel.selectedStartdate.toLocaleDateString()}}</td>
                <td>{{travel.destination}} - {{travel.title}}</td>
                <td>{{travel.price.toFixed(2)}} EUR</td>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{discountedTotal.toFixed(2)}} EUR
                        <div *ngIf="discount > 0" class="text-success"><small>You save {{discount.toFixed(2)}} EUR</small> </div>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="d-flex justify-content-between">
            <div class="p-2">
                <a class="btn btn-outline-success" routerLink="../travels"><i class="fas fa-arrow-left"></i> Back to our Travels</a>        
            </div>
            <div class="p-2">
                <button class="btn btn-success" (click)="placeOrder()">Place Order</button> 
            </div>
        </div>
    </ng-template>
    <ng-template #empty> 
        <div class="mt-5">
            <p>Your cart is currently empty.</p>
            <a class="btn btn-outline-success" routerLink="../travels"><i class="fas fa-arrow-left"></i> Check our travels</a>   
        </div>  
    </ng-template>
    
    
</div>