<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
    <div class="container-md">
        <a class="navbar-brand fs-3 rebel-font" routerLink="">Travel Rebel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav w-100">
                <a class="nav-link fs-4" routerLink="">Home</a>
                <a class="nav-link fs-4" routerLink="../travels">Our Travels</a>
                <a class="nav-link fs-4" routerLink="../blog">Blog</a>
            </div>
        </div>
        <div class="navbar-nav checkout-nav">
            <a class="nav-link fs-4 ms-lg-auto" routerLink="../checkout"><i class="fas fa-bicycle"></i><span class="badge bg-success fs-6">{{travelCnt}}</span></a>
        </div>
        
    </div>
</nav>

