<div class="container-fluid hero">
    <tr-navbar></tr-navbar>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center display-6 mt-2">Sustainable Bike Travels</h2>
            <p class="fs-5">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-4 mt-2">
        <div class="col" *ngFor="let travel of products">
          <div class="card h-100">
            <img src="{{ travel.img }}" class="card-img-top img-cover" alt="image of {{ travel.destination}}">
            <div class="card-body">
                <p class="text-muted">{{ travel.destination }}</p>
                <h5 class="card-title">{{ travel.title }}</h5>
                <p class="card-text">{{ travel.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex flex-row justify-content-between">
                    <div class="fw-bolder fs-4">{{ travel.price }} EUR</div>
                    <div class="small w-auto fw-light">{{ travel.duration }} days all incl. <br> price per person</div>
                </li>
            </ul>
            <div class="card-footer">
                <div class="row">
                    <div class="col-6">
                        <select class="form-select" type="date" [(ngModel)]="date">
                            <option *ngFor="let date of travel.startdates" [ngValue]="date">{{date.toLocaleDateString()}}</option>
                        </select>
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-outline-success" (click)="addToCart(travel)">Add to Cart</button>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>