<div class="container-fluid hero">
    <tr-navbar></tr-navbar>
</div>
<div class="container min-vh-50">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center display-6 mt-2 rebel-font">Food for Thoughts</h2>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-2 g-4 mt-2">
        <div class="col">
            <div class="card h-100">
                <img src="/assets/img/pexels-charlotte-may-5966012.jpg" class="card-img-top img-cover " alt="...">
                <div class="card-body">
                  <h5 class="card-title display-6">Covid-19: What you need to know</h5>
                </div>
                <div class="card-footer bg-white">
                    <p class="card-text"><small class="text-muted">Tim Welsh | 17.03.2020</small></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/assets/img/pexels-adrianna-calvo-4615136.jpg" class="card-img-top img-cover " alt="...">
                <div class="card-body">
                  <h5 class="card-title display-6">12 Things you didn't know about your CO<sup>2</sup> footprint</h5>   
                </div>
                <div class="card-footer bg-white">
                    <p class="card-text"><small class="text-muted">Peter Allen | 12.03.2020</small></p>
                </div>
            </div>
        </div>     
        <div class="col">
            <div class="card h-100">
                <img src="/assets/img/marek-piwnicki-gx818Y97Scs-unsplash.jpg" class="card-img-top img-cover " alt="...">
                <div class="card-body">
                  <h5 class="card-title display-6">10 Essentials to Travel light</h5>
                </div>
                <div class="card-footer bg-white">
                    <p class="card-text"><small class="text-muted">Tim Welsh | 09.02.2020</small></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/assets/img/gemma-evans-LTEo69JUv7o-unsplash.jpg" class="card-img-top img-cover " alt="...">
                <div class="card-body">
                  <h5 class="card-title display-6">Travel Rebel: Our Paradigm</h5>
                </div>
                <div class="card-footer bg-white">
                    <p class="card-text"><small class="text-muted">Tim Welsh | 01.01.2020</small></p>
                </div>
            </div>
        </div>
    </div>  
</div>