<div class="container-fluid hero">
    <tr-navbar></tr-navbar>
    <div class="row h-100 align-items-center">
        <div class="col-md-6 offset-md-6 h-50 d-flex flex-column justify-content-center">
            <h1 class="text-white display-2 rebel-font">Sustainable Bike Travels</h1>
            <p class="text-white display-6 mt-5">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <a type="button" class="btn btn-success mt-5 btn-book fs-5" routerLink="travels">Check our Travels</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row g-3">
        <div class="col-md-6 my-auto">
            <h2 class="text-center display-6 rebel-font mt-4">Tailored to your needs</h2>
            <p class="fs-5">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>
        <div class="col-md-6 align-self-center">
            <img class="img-cover" src="/assets/img/david-marcu-VfUN94cUy4o-unsplash.jpg" alt="">
        </div>
        <div class="col-md-12 text-center">
            <a type="button" class="btn btn-success my-3 btn-book fs-5" routerLink="travels">Check our Travels</a>
        </div>
        <div class="col-md-6 align-self-center">
            <img class="img-cover" src="/assets/img/netherlands.jpg" alt="">
        </div>
        <div class="col-md-6 my-auto">
            <h2 class="text-center display-6 rebel-font mt-4">Why Travel Rebel?</h2>
            <p class="fs-5">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <a routerLink="../blog" class="link-success fs-5"> Read more in our Blog</a>
        </div>
        <div class="col-md-6 my-auto">
            <h2 class="text-center display-6 my-auto rebel-font mt-4">CO<sup>2</sup> Neutral</h2>
            <p class="fs-5">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>
        <div class="col-md-6 align-self-center">
            <img class="img-cover" src="/assets/img/coen-van-de-broek-OFyh9TpMyM8-unsplash.jpg" alt="">
        </div>
        
    </div>
</div>