.hero {
    background-image: url(/assets/img/dmitrii-vaccinium-9qsK2QHidmg-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.btn-book {
    width: 12rem;
}

.img-cover {
    object-fit: cover;
    height: 45vh;
    width: 100%;
}

@media (max-width: 768px) {
    .img-cover {
        height: 30vh;
        object-position: 0 30%;
    }
}